<link rel="stylesheet" href="/css/login.css">
<div id="maindiv">

    <div id="container">
        <h2>Log-In</h2>
       <form action="account/log-in-account" method="POST">
         
        <div id="first">
          <input type="email" name="email" id="email" placeholder="Enter Your Email ðŸ‘ˆðŸ»" required>
          <input type="password" name="password" id="password" placeholder="Secret Password  ðŸ’€" required>
        </div>

        <div id="second">
          <button type="submit" id="submit">LOG IN</button>
        </div>




       </form>


    </div>

    



</div>