<link rel="stylesheet" href="/css/singup.css">
<div id="maindiv">

    <div id="container">
        <h2>Sing-Up</h2>
       <form action="/account/create" method="POST">
         
        <div id="first">
          <input type="text" name="name" id="email" placeholder="Enter Name ðŸ¤›" required>
          <input type="email" name="email" id="password" placeholder="Enter Email ðŸ‘ˆðŸ»" required>
          <input type="password" name="password" id="email" placeholder="Enter Password" required>
          <input type="password" name="confirmpassword" id="password" placeholder="Renter Password" required>        
        </div>

        <div id="second">
          <input type="submit" type="Submit" id="submit">
        </div>




       </form>


    </div>

    



</div>